<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="display-6">
      <%= 'diagnostic-conclusion-title'.t %>
    </h1>
    <p class="lead">
      <%= 'diagnostic-conclusion-body'.t(diagnostic_name: @service.diagnostic_name, team_name: @service.team_name) %>
    </p>
  </div>
</div>
