<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="display-4"><%= 'Welcome %{name}'.t(name: @service.participant_name) %></h1>
    <p class="lead">
      You have a Team Diagnostic in progress.
    </p>
    <%= link_to 'Continue', edit_diagnostic_survey_path(id: @service.diagnostic_survey.id), {class: 'btn btn-large btn-success', rel: 'nofollow'} %>
  </div>
</div>
