<div class="row" id="edit_tenant">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1><%= 'Edit'.t %> <i><%= @tenant.name %></i></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', tenant: @tenant %>
      </div>
    </div>
  </div>
</div>
