!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
*.swp
.byebug_history
.env*
.yarn-integrity
/.bundle
/config/credentials/development.key
/config/credentials/production.key
/config/credentials/staging.key
/config/master.key
/coverage/
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/test_coverage
/spec/examples.txt
/storage/*
/tmp/*
/tmp/pids/*
/yarn-error.log
db/seed/*.sql
yarn-debug.log*
