APPLICATION_DOMAIN=localhost
APPLICATION_HOST="localhost:3000"
APPLICATION_PROTOCOL="http"
LANG=en_US-UTF-8
PORT=3000
RACK_ENV=development
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=enabled
RAILS_MASTER_KEY=XXX
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=5
RAILS_SERVE_STATIC_FILES=enabled
WEB_CONCURRENCY=2
EMAIL_REPLY_TO='tda@localhost'
MEMCACHED_URL=memcached://localhost:11211
ACTIVESTORAGE_ACCESS_KEY_ID='XXX'
ACTIVESTORAGE_SECRET_ACCESS_KEY='XXX'
ACTIVESTORAGE_BUCKET='tdv2staging'
COMPOSE_PROJECT_NAME=tdv2
