<div class="row">
  <div class="col-sm-6">
    <h3>
      <%= 'Status'.t %>
      <span class="badge badge-<%= team_diagnostic_state_pill_class(@service.team_diagnostic) %>"><%= @service.team_diagnostic.state.capitalize.t %></span>
    </h3>
  </div
</div>
