<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%='Report Variations'.t %>
      <span class="badge--report-option-selection badge badge-info"><%= 'Default'.t %></span>
      <span class="badge--report-option-selection badge badge-light"><%= 'Leader and Team'.t %></span>
      <span class="badge--report-option-selection badge badge-light"><%= 'Custom'.t %></span>
      <input type="hidden" name="page_variation" value="default" input>
    </h5>
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
</div>
