<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Dashboard'.t, root_path) %></li>
    <% if policy(User).index? %>
      <li class="breadcrumb-item"><%= link_to('Users'.t, users_path )%></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= ( @current_page || params[:action].humanize.t )%> </li>
  </ol>
</nav>
