<p class="lead">
  TeamDiagnostic.com is a service provided by Team Coaching International.
</p>

<p class="alert-success">
  We promise to respect your privacy.
</p>

<p class="lead alert-warning">
  I promise to not use this service to commit any crimes, harass others, or otherwise negatively impact
  this site, its users, or its administrators and owners.
</p>
