<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="display-4"><%= 'Welcome %{name}'.t(name: @current_user.name) %></h1>
    <p class="lead">
      <p class="lead">
        This is your TeamDiagnostic Dashboard, a starting point for creating Teams, setting up Diagnostics, and reviewing current and past Diagnostic.
      </p>
      <% if @current_user.companies.any? %>
        <% if true %>
        <% # if @current_user.teams.any? %>
        <% else %>
          Now 
        <% end %>
      <% else %>
        
      <% end %>
    </p>
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="display-4"><%= 'Welcome %{name}'.t(name: @current_user.name) %></h1>
    <p class="lead">

    </p>
  </div>
</div>
-->
