<div class="row">
  <div class="col-lg-12 jumbotron shadow bg-white">
    <div class="row">
      <div class="col-sm-8">
        <% if true || current_user_has_no_organizations_or_diagnostics? %>
          <h1 class="display-5"><%= 'Welcome %{name}'.t(name: @current_user.user_profile.first_name || @current_user.name) %></h1>
        <% end %>
        <p class="lead">
          <%= sanitized_translation 'dashboard-intro' if true || current_user_has_no_organizations_or_diagnostics? %>
        </p>
      </div>
      <div class="col-sm-4">
        <%= render partial: 'profile_card', locals: { user: @current_user } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="lead">
          <%= render partial: 'organizations' %>
        </p>
      </div>
    </div>
  </div>
</div>
