<div class="row">
  <div class="col-lg-12 jumbotron bg-white shadow">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="display-4"><%= 'Welcome %{name}'.t(name: @current_user.user_profile.first_name || @current_user.name) %></h1>
        <p class="lead">
          This is your TeamDiagnostic Application Dashboard.
        </p>
      </div>
      <div class="col-sm-4">
        <%= render partial: 'profile_card', locals: { user: @current_user } %>
      </div>
    </div>
  </div>
</div>
