<div class="row" id="new_entitlement">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1><%= 'Edit Invitation'.t %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>
