<section id="{slug}" class="cover_page" data-page="{index}">
  <header></header>
  <article>
    <div class="coverleft" id="report_welcome">
      <h1>Welcome to the Team Diagnostic&trade;</h1>
      <br/>
      <h2>Teams are the engines that <em>drive</em> successful organizations.</h2>
      <p>
        Teams produce results that individuals simply can’t, acting alone. Today, the workplace is a maze of nested teams: intact, cross-functional, project, virtual — and the pressure is on teams to form, perform and reform at an astonishing rate.
      </p>
      <p>
        The Team Diagnostic&trade; is a state of the art instrument, based on a proven model that defines the necessary strengths for high-performing, sustainable, inspired teams.
      </p>
      <div class="small_copyright">
        &copy; Team Coaching International. All Rights Reserved
      </div>
    </div>
    <div class="coverright">
      <p class="report_for">Report For:</p>
      <h1 class="team_name">Test Property Team</h1>
      <img class="logo_left_bottom" src="/reports/images/report_tci_logo.jpg"></img>
    </div>
  </article>
  <footer class="page_footer"></footer>
</section>
