  <% if organization.team_diagnostics.any? %>
    <h4>
      <%= 'Team Diagnostics'.t %>
      <%= link_to('New'.t, new_team_diagnostic_path, class: 'btn btn-sm btn-success') if OrganizationPolicy.new(current_user, organization).new_diagnostic? %>
    </h4>
    <% TeamDiagnosticPolicy::Scope.new(current_user, organization.team_diagnostics).resolve.order(created_at: :desc).each do |diagnostic| %>
      <p class="lead">
        <%= render partial: 'team_diagnostics/team_diagnostic', locals: { diagnostic: diagnostic } %>
      </p>
    <% end %>
  <% else %>
    <%= link_to('Create your first Team Diagnostic'.t, new_team_diagnostic_path, class: 'btn btn-lg btn-success') if policy(TeamDiagnostic).new? %>
  <% end %>
